.index_container {
  width: 100%;
  height: 100%;
  background: url("https://www.rich3kingdoms.xyz/ipns/k51qzi5uqu5dgrl028jw0vu9g92no96w74irny1skee8oaok5jezrpkq4idajv/rich/assets/index/home_bg_1920.jpg") no-repeat;
  background-size: 100% 100%;
}
@media screen and (min-aspect-ratio: 16/9) {
  .index_container {
    width: 100%;
    height: 100%;
    background: url("https://www.rich3kingdoms.xyz/ipns/k51qzi5uqu5dgrl028jw0vu9g92no96w74irny1skee8oaok5jezrpkq4idajv/rich/assets/index/home_bg_2340.jpg") no-repeat;
    background-size: 100% 100%;
  }
}
